@model RegTesting.Mvc.Models.TestcaseModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Testcases</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Activated</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Activated)
    </div>

    <div class="display-label">Type</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Type)
	</div>
	
	<div class="display-label">Description</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Description)
	</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
