@model IEnumerable<RegTesting.Mvc.Models.TestcaseModel>

@{
	ViewBag.Title = "Testfälle - RegTesting";
}

<h2>Testcases</h2>

<table class="table">
	<tr>
		<th>
			Name
		</th>
		<th>
			Activated
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Type)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
				@Html.ActionLink("Details", "Details", new { id=item.ID }) |
				@Html.ActionLink("Delete", "Delete", new { id=item.ID })
			</td>
		</tr>
	}

</table>

<br/>
<div>
	@Html.ActionLink("Zurück", "Index","Settings")
</div>