@using RegTesting.Contracts.Enums
@using RegTesting.Mvc.Models
@model IEnumerable<TestWorkerModel>

	@if (Model.Any())
	{
		<table class="table table-condensed">
			<tr>
				<th>Virtual Machine Name</th>
				<th>Browsersupport</th>
				<th>Test</th>
				<th>Since</th>
				<th>Actions</th>
			</tr>

			@foreach (TestWorkerModel testWorker in Model)
			{
				<tr>
					<td><span class="@("label label-" + StatusHelper.GetTestWorkerStatusString(testWorker.State))">@testWorker.Name</span></td>

					<td>
						@foreach (string browser in testWorker.SupportedBrowsers)
						{
							<text>@browser </text>
						}

				</td>
				<td>
					@if (testWorker.State == TestWorkerStatus.Rebooting)
					{
						<b>*** Rebooting... ***</b>
					}
					else
					{
						@((testWorker.WorkItemTestcaseName != null) ? testWorker.WorkItemTestcaseName + " " + testWorker.WorkItemBrowserName + " (" + testWorker.WorkItemTestsystemName + "/" +  testWorker.WorkItemLanguageLanguagecode  +")": "Idle")
					}
				</td>
				<td>@testWorker.TestruntimeString</td>
				<td>
					<div class="btn-group">
@*
						<a class="btn btn-default btn-xs" href="@Url.Action("PauseWorker", "Status", new {node = testWorker.Name})"><i class="glyphicon glyphicon-pause"></i></a>
*@
						@if ((testWorker.State != TestWorkerStatus.Rebooting && !testWorker.Name.Contains("mac")))
						{
							<a class="btn btn-default btn-xs" href="@Url.Action("RebootWorker", "Status", new { node = testWorker.Name })"><i class="glyphicon glyphicon-repeat"></i> Reboot</a>
						}
					</div>

				</td>
		</tr>
			}

		</table>


	}
	else
	{
		<div class="alert alert-info">There are no workers available. Start some nodes to change this!</div>
	}
