@using RegTesting.Mvc
@using RegTesting.Mvc.Models
@model IList<TestJobModel>
		   

@if (Model.Any())
{
	<table class="table">
		<tr>
			<th>Started at</th>
			<th>Started by</th>
			<th>Started on</th>
			<th>Testsuite</th>
			<th style="width: 20em">Progress</th>
			<th></th>
			<th></th>
		</tr>
		@foreach (TestJobModel testJobModel in Model)
		{
			int count = testJobModel.Count;
			int intPercentPassed = (count == 0 ? 0 : (testJobModel.Passed*100/testJobModel.Count));
			int intPercentFailured = (count == 0 ? 0 : (testJobModel.Failured*100/testJobModel.Count));
			int intPercentFinished = (count == 0 ? 0 : (testJobModel.Finished*100/testJobModel.Count));
			<tr>
				<td>@testJobModel.TestJobStartedAt.ToString()</td> 
				<td>@testJobModel.TestJobTesterName (@testJobModel.TestJobJobType)</td>
				<td>@testJobModel.TestJobTestsystemName</td>
				<td>@testJobModel.TestJobName</td>    
			  
				<td>
					<div class="progress">
						<div class="progress-bar progress-bar-success" style="width: @(intPercentPassed + "%");"></div>
						<div class="progress-bar progress-bar-danger" style="width: @(intPercentFailured + "%");"></div>
					</div>
				</td>

				<td>
					@testJobModel.Finished /  @testJobModel.Count (@intPercentFinished%)
				</td>
				<td>
					<div class="btn-group">
				
						@if (RegtestingMvcConfiguration.Testmanager.Contains(User.Identity.GetLogin(), StringComparer.InvariantCultureIgnoreCase))
						{
							if (!testJobModel.IsCanceled)
							{
								<a class="btn btn-default btn-xs" href="@Url.Action("PrioTestJob", "Status", new {testjob = testJobModel.ID})"><i class="glyphicon glyphicon-star"></i></a>
							}
						}

						@if (string.Equals(testJobModel.TestJobTesterName, User.Identity.GetLogin(), StringComparison.InvariantCultureIgnoreCase) || RegtestingMvcConfiguration.Testmanager.Contains(User.Identity.GetLogin(), StringComparer.InvariantCultureIgnoreCase))
						{
							if (!testJobModel.IsCanceled)
							{
								<a class="btn btn-danger btn-xs"  href="@Url.Action("CancelWorkItemGroup", "Status", new {testjob = testJobModel.ID})"><i class="glyphicon glyphicon-remove"></i></a>


							}
							else
							{
								<button class="btn btn-default disabled btn-xs"><i class="glyphicon glyphicon-remove"></i> Canceled</button>
							}
						}
					</div>
				</td>
			</tr>
		}

	</table>
}
else
{
	<div class="alert alert-info">There are no running tests</div>
}

