
<!DOCTYPE html>
<html>
  <head>
    <title>UI-Testing</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  
	  @*<link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />*@

	  <!-- Bootstrap -->
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet"/>
	<style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="@Url.Content("~/Content/bootstrap-theme.css")" rel="stylesheet"/>
	  
	

    <link href="@Url.Content("~/Content/uitesting.css")" rel="stylesheet"/>
	  
	  
	  

	<script src="@Url.Content("~/Scripts/jquery-2.1.3.min.js")"></script>
  	<script src="@Url.Content("~/Scripts/jquery-ui.min.js")"></script>
  	<script src="@Url.Content("~/Content/jquery-ui.theme.min.css")"></script>

  	

	  @*<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>*@
	  
	<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
  </head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
		  <div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			  <span class="sr-only">Toggle navigation</span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="http://regtesting/">RegTesting</a>
		  </div>
		<div class="collapse navbar-collapse">

			<div class="navbar-collapse collapse"  id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li>@Html.MenuLink("Summary", "Index", "TestsystemSummary", new {})</li>
					<li>@Html.MenuLink("Testing", "Index", "Testing", new {})</li>
					<li>@Html.MenuLink("Status", "Index", "Status", new {})</li>
					<li>@Html.MenuLink("Settings", "Index", "Settings", new {})</li>

						
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Logged in as @User.Identity.GetLogin()</a></li>
				</ul>

			</div><!--/.nav-collapse -->
		</div>

		</div>
		
		<div class="container">

     	<section id="main">
			@RenderBody()
		</section>

		</div> <!-- /container -->
		


	</body>
</html>