@using RegTesting.Mvc
@using RegTesting.Mvc.Models
@{
	ViewBag.Title = "Testing - RegTesting";

	IList<TestsystemModel> testsystems = ((IList<TestsystemModel>)ViewBag.LstTestsystems);
	IList<TestsuiteModel> testsuites = ((IList<TestsuiteModel>)ViewBag.LstTestsuites);

	TestsystemModel currentTestsystem = (TestsystemModel)ViewBag.CurrentTestsystem;
	TestsuiteModel currentTestsuite = (TestsuiteModel)ViewBag.CurrentTestsuite;

	IList<TestsystemModel> pinnedBranches = RegtestingMvcConfiguration.PinnedBranches.Select(
		branch => testsystems.FirstOrDefault(t => t.Name == branch)
	).ToList();
	IList<TestsystemModel> currentBranches = testsystems.Where(t => !t.Name.StartsWith("local") && DateTime.Now - t.LastUpdated < new TimeSpan(7, 0, 0, 0)).ToList();
	IList<TestsystemModel> oldBranches = testsystems.Where(t => !t.Name.StartsWith("local") && DateTime.Now - t.LastUpdated >= new TimeSpan(7, 0, 0, 0)).ToList();
	IList<TestsystemModel> myLocalBranches = testsystems.Where(t => t.Name.StartsWith("local") && t.Name.EndsWith(User.Identity.GetLogin().ToLower())).ToList();
	IList<TestsystemModel> otherLocalBranches = testsystems.Where(t => t.Name.StartsWith("local") && !t.Name.EndsWith(User.Identity.GetLogin())).ToList();

	IList<TestsuiteModel> pinnedTestsuites = new List<TestsuiteModel>();
	TestsuiteModel defaultTestsuite = testsuites.FirstOrDefault(t => t.Name == RegtestingMvcConfiguration.Defaulttestsuite);
	pinnedTestsuites.Add(defaultTestsuite);
	IList<TestsuiteModel> normalTestsuites = testsuites.Where(t => !t.Name.StartsWith("Local ") && !pinnedTestsuites.Contains(t)).ToList();
	IList<TestsuiteModel> localTestsuites = testsuites.Where(t => t.Name.StartsWith("Local ") && !pinnedTestsuites.Contains(t)).ToList();

	localTestsuites = localTestsuites.OrderByDescending(x => DateTime.Parse(x.Name.Substring(6))).ToList();
}

<div class="navbar navbar-default">
			 <a class="navbar-brand">Testing</a>
			<ul class="nav navbar-nav">
				<li><a href="@Url.Action( "Index", "Testing", new {})">Testsuite</a></li>
				<li><a href="@Url.Action( "Errorlog", "Testing", new {})">Errorlog</a></li>
				<li><a href="@Url.Action("Resulthistory", "Testing", new {})">Resulthistory</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<b>Current Branch: </b>@currentTestsystem.Name
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						@foreach (TestsystemModel pinnedBranch in pinnedBranches)
						{
							<li><a tabindex="-1" href="@Url.Action("Index", "Testing", new { testsystem = pinnedBranch.ID })">@pinnedBranch.Name</a></li>
						}
						<li role="presentation" class="divider"></li>
						<li role="presentation" class="dropdown-header">Current Branches</li>
						@foreach (TestsystemModel currentBranch in currentBranches)
						{
							<li><a tabindex="-1" href="@Url.Action("Index", "Testing", new { testsystem = currentBranch.ID })">@currentBranch.Name</a></li>
						}
						<li role="presentation" class="divider"></li>
						<li role="presentation" class="dropdown-header">My local branches</li>
						@foreach (TestsystemModel myLocalBranch in myLocalBranches)
						{
							<li><a tabindex="-1" href="@Url.Action("Index", "Testing", new { testsystem = myLocalBranch.ID })">@myLocalBranch.Name</a></li>
						}
						<li role="presentation" class="divider"></li>
						<li role="presentation" class="dropdown-header">Branches with tests older as 7 days</li>
						@foreach (TestsystemModel oldBranch in oldBranches)
						{
							<li><a tabindex="-1" href="@Url.Action("Index", "Testing", new { testsystem = oldBranch.ID })">@oldBranch.Name</a></li>
						}
						<li role="presentation" class="divider"></li>
						<li role="presentation" class="dropdown-header">Other local branches</li>
						@foreach (TestsystemModel otherLocalBranch in otherLocalBranches)
						{
							<li><a tabindex="-1" href="@Url.Action("Index", "Testing", new { testsystem = otherLocalBranch.ID })">@otherLocalBranch.Name</a></li>
						}
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<b>Current Testsuite: </b>@currentTestsuite.Name
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						@foreach (TestsuiteModel pinnedTestsuite in pinnedTestsuites)
						{
							<li><a tabindex="-1" href="@Url.Action("Index", "Testing", new { testsuite = pinnedTestsuite.ID })">@pinnedTestsuite.Name</a></li>
						}
						<li role="presentation" class="divider"></li>

						@foreach (TestsuiteModel normalTestsuite in normalTestsuites)
						{
							<li><a tabindex="-1" href="@Url.Action("Index", "Testing", new { testsuite = normalTestsuite.ID })">@normalTestsuite.Name</a></li>
						}
						<li role="presentation" class="divider"></li>
						<li role="presentation" class="dropdown-header">Testsuites just for this branch</li>
						@foreach (TestsuiteModel localTestsuite in localTestsuites)
						{
							<li><a tabindex="-1" href="@Url.Action("Index", "Testing", new { testsuite = localTestsuite.ID })">@localTestsuite.Name</a></li>
						}
					</ul>
				  </li>
			</ul>
</div>