@using RegTesting.Contracts.Domain
@using RegTesting.Mvc.Models
@model IList<HistoryResult>

	@{
		ViewBag.Title = "History - RegTesting";

		IList<TestcaseModel> testcases = ((IList<TestcaseModel>)ViewBag.LstTestcases);
		IList<BrowserModel> browsers = ((IList<BrowserModel>)ViewBag.LstBrowsers);
		IList<LanguageModel> languages = ((IList<LanguageModel>)ViewBag.LstLanguages);

		int testsystemId = @ViewBag.Testsystem;
		int testsuiteId = @ViewBag.Testsuite;
		int testcaseId = @ViewBag.Testcase;
		int languageId = @ViewBag.Language;
		int browserId = @ViewBag.Browser;
		int tableWidth = 2;
	}

	@Html.Partial("PartialTestingMenu")

	<div class="selectionfields2">

		<form class="form-inline" role="form">
			<div class="form-group">
				<select id="ddlTestcases" class="form-control" onchange="OnDdlChanged();">
					string strAttributes = ViewBag.Testcase  == -1 ? "selected=selected" : "";
					<option value=-1 strattributes>All Testcases</option>
					@foreach (TestcaseModel testcase in testcases)
					{
						string strAttributes = testcase.ID == ViewBag.Testcase ? "selected=selected" : "";
						<option value=@testcase.ID @strAttributes>@testcase.Name</option>
					}
				</select>

				<select id="ddlBrowser" class="form-control" onchange="OnDdlChanged();">
					string strAttributes = ViewBag.Browser  == -1 ? "selected=selected" : "";
					<option value=-1 strattributes>All Browsers</option>
					@foreach (BrowserModel browser in browsers)
					{
						string strAttributes = browser.ID == ViewBag.Browser ? "selected=selected" : "";
						<option value=@browser.ID @strAttributes>@browser.Name</option>
					}
				</select><select id="ddlLanguages" class="form-control" onchange="OnDdlChanged();">
					string strAttributes = ViewBag.Language  == -1 ? "selected=selected" : "";
					<option value=-1 strattributes>All Languages</option>
					@foreach (LanguageModel language in languages)
					{
						string strAttributes = language.ID == ViewBag.Language ? "selected=selected" : "";
						<option value=@language.ID @strAttributes>@language.Languagecode</option>
					}
				</select>
			</div>
		</form>
	</div>

	<br />
	<br /><br />
	<table class="table">
		<tr>
			<th class="testtableheader">Tester</th>
			@if (testcaseId == -1)
			{
				tableWidth++;
				<th class="testtableheader">Testcase</th>
			}
			@if (browserId == -1)
			{
				tableWidth++;
				<th class="testtableheader">Browser</th>
			}
			@if (languageId == -1)
			{
				tableWidth++;
				<th class="testtableheader">Language</th>
			}
			<th class="testtableheader">Ergebnis</th>
		</tr>
		@foreach (HistoryResult historyResult in Model)
		{

			string strClass = "resultsmall label label-" + StatusHelper.GetStatusString(historyResult.ResultCode);

			<tr class="toggleDetails">
				<td>@historyResult.Tester.Name</td>
				@if (testcaseId == -1)
				{
					<td>@historyResult.Testcase.Name</td>
				}
				@if (browserId == -1)
				{
					<td>@historyResult.Browser.Name</td>
				}
				@if (languageId == -1)
				{
					<td>@historyResult.Language.Languagecode</td>
				}

				<td>
					<span class="@strClass">
						@historyResult.Testtime
					</span>
				</td>
			</tr>
			<tr style="display: none">
				<td colspan="@(tableWidth)">
					@if (historyResult.Error != null)
					{
						<b>@historyResult.Error.Message</b><br />

						<text>@historyResult.Error.Type</text>
						<small>
							@Html.Raw(historyResult.Error.StackTrace.Replace(" at ", "<br>at "))
							@if (historyResult.Error.InnerException != null)
							{
								<br /><text>InnerException: @historyResult.Error.InnerException</text>
							}
						</small>
					}

					@if (!String.IsNullOrEmpty(historyResult.ScreenshotFile))
					{
						<br/><a class="btn btn-xs" href="@("/screenshots/" + historyResult.ScreenshotFile)" target="_blank"><img class="testscreenshot" src="@("/screenshots/" + historyResult.ScreenshotFile)" /></a>
					}

					<pre class="detaillog">@Html.Raw(historyResult.DetailLog)</pre>
				</td>
			</tr>
		}
	</table>
	<br />
	@Html.ActionLink("Back", "Index", "Testing", new { testsystem = testsystemId, testsuite = testsuiteId }, null)

	<script type="text/javascript">
		function OnDdlChanged() {
			window.location.href = '@Url.Action("Resulthistory")' + '?testcase=' + $("#ddlTestcases").val() + '&browser=' + $("#ddlBrowser").val() + '&language=' + $("#ddlLanguages").val();
		}

		$(".toggleDetails").click(function () {
			$(this).next().toggle();
		});
	</script>