@using RegTesting.Mvc.Models
@model IList<TestJobModel>
		   
@if (Model.Any())
{
	<table class="table">
		<tr>
			<th>Started at</th>
			<th>Started by</th>
			<th>Testjob</th>
			<th style="width: 20em">Progress</th>
			<th></th>
		</tr>
		@foreach (TestJobModel testJobModel in Model)
		{
			int intCount = testJobModel.Count;
			int intPercentPassed = (intCount == 0 ? 0 : (testJobModel.Passed * 100 / testJobModel.Count));
			int intPercentFailured = (intCount == 0 ? 0 : (testJobModel.Failured * 100 / testJobModel.Count));
			int intPercentFinished = (intCount == 0 ? 0 : (testJobModel.Finished*100/testJobModel.Count));
			<tr>
				<td>@testJobModel.TestJobStartedAt.ToString()</td> 
				<td>@testJobModel.TestJobTesterName (@testJobModel.TestJobJobType)</td>
				<td>@testJobModel.TestJobName</td>   
				<td>
					<div class="progress">
						<div class="progress-bar progress-bar-success" style="width: @(intPercentPassed + "%");"></div>
						<div class="progress-bar progress-bar-danger" style="width: @(intPercentFailured + "%");"></div>
					</div>
				</td>
				<td>
					@testJobModel.Finished /  @testJobModel.Count (@intPercentFinished%)
				</td>
			</tr>
		}

	</table>
}
else
{
	
}

